<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <link rel="shortcut icon" href="#"/>
    <link rel="stylesheet" type="text/css" href="/ears3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/ears3/css/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="/ears3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/ears3/css/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/ears3/css/style.css">
    <link rel="stylesheet" type="text/css" href="/ears3/js/jquery-ui-1.12.1/jquery-ui.min.css"/>
    <script src="/ears3/js/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="/ears3/js/popper.min.js" type="text/javascript"></script>
    <script src="/ears3/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/ears3/js/bootstrap-select.js" type="text/javascript"></script>
    <script src="/ears3/js/jquery-ui-1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/ears3/js/jsonpath.js" type="text/javascript"></script>
    <script src="/ears3/js/ears-events-common.js" type="text/javascript"></script>

    <script>
        const eventsGetLocation = "/ears3/api/events";
        const programsGetLocation = "/ears3/api/programs";
        const cruisesGetLocation = "/ears3/api/cruises"
        const year = (new Date()).getFullYear();
        const personsGetLocation = "/ears3/api/person?year=" + year
    </script>
    <title>EARS</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-light " th:fragment="header">

    <div class="container">
        <form layout:fragment="head-form">

        </form>
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                data-target="#navbar4">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><b class="nav-link">EARS</b></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/event/new}">New event</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/events}">Events</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/excel/import}">Import logbook</a></li>
                <!--<li class="nav-item"> <a class="nav-link" th:href="@{/program/create}">Program</a> </li>-->
                <li class="nav-item"><a class="nav-link" th:href="@{/cruises}">Cruises</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/ontology}">Edit tree</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/manual}">Manual</a></li>
                <li class="nav-item"><strong><a class="nav-link" id="settings-link" th:href="@{/settings}"
                                                title="Create events as this person"></a></strong>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" title="Login">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor"
                             class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                        </svg>
                    </a>
                    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-link nav-link" title="Logout">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor"
                                 class="bi bi-person-check" viewBox="0 0 16 16">
                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                                <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                            </svg>
                            <span sec:authentication="name"></span>
                        </button>
                    </form>

                </li>
            </ul>
        </div>
        <script>
            function isLocalStorageSupported() {
                try {
                    if (!window.localStorage) {
                        return false;
                    }
                    const testKey = '__ears_storage_test__';
                    window.localStorage.setItem(testKey, '1');
                    window.localStorage.removeItem(testKey);
                    return true;
                } catch (e) {
                    return false;
                }
            }

            if (!isLocalStorageSupported()) {
                window.location.replace('/ears3/unsupported-browser');
            }
            const actor = getCurrentActor()
            if (!actor) {
                if (window.location.pathname !== '/ears3/settings') {
                    window.location.href = '/ears3/settings';
                }
            } else {
                document.getElementById("settings-link").innerHTML = actor.firstName + " " + actor.lastName;
            }
        </script>
    </div>
</nav>
<div class="container" layout:fragment="main"></div>
</body>

</html>