<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="#"/>
    <link rel="stylesheet" type="text/css" href="/ears3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/ears3/css/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="/ears3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/ears3/css/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/ears3/css/style.css">
    <link rel="stylesheet" type="text/css" href="/ears3/js/jquery-ui-1.12.1/jquery-ui.min.css"/>
    <script src="/ears3/js/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="/ears3/js/popper.min.js" type="text/javascript"></script>
    <script src="/ears3/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/ears3/js/bootstrap-select.js" type="text/javascript"></script>
    <script src="/ears3/js/jquery-ui-1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/ears3/js/index-browser-umd.cjs" type="text/javascript"></script>
    <script src="/ears3/js/ears-events-common.js" type="text/javascript"></script>

    <script>
        const eventsGetLocation = "/ears3/api/events";
        const programsGetLocation = "/ears3/api/programs";
        const cruisesGetLocation = "/ears3/api/cruises"
    </script>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-light " th:fragment="header">

    <div class="container">
        <form layout:fragment="head-form">

        </form>
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                data-target="#navbar4">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><b class="nav-link">EARS</b></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/event/new}">New event</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/events}">Events</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/excel/import}">Import logbook</a></li>
                <!--<li class="nav-item"> <a class="nav-link" th:href="@{/program/create}">Program</a> </li>-->
                <li class="nav-item"><a class="nav-link" th:href="@{/cruises}">Cruises</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/manual}">Manual</a></li>
                <li class="nav-item"><strong><a class="nav-link" id="settings-link" th:href="@{/settings}"></a></strong>
                </li>
            </ul>
        </div>
        <script>
            (function () {
                function isLocalStorageSupported() {
                    try {
                        if (!window.localStorage) {
                            return false;
                        }
                        const testKey = '__ears_storage_test__';
                        window.localStorage.setItem(testKey, '1');
                        window.localStorage.removeItem(testKey);
                        return true;
                    } catch (e) {
                        return false;
                    }
                }

                if (!isLocalStorageSupported()) {
                    window.location.replace('/ears3/unsupported-browser');
                }
                if (localStorage.actor == null) {
                    if (window.location.pathname !== '/ears3/settings') {
                        window.location.href = '/ears3/settings';
                    }
                } else {
                    const me = JSON.parse(localStorage.actor);
                    document.getElementById("settings-link").innerHTML = me.firstName + " " + me.lastName;
                }
            })();
        </script>
    </div>
</nav>
<div class="container" layout:fragment="main"></div>
</body>

</html>