body{
    font-size:100%;
}

h1 {
    color: red;
    width: 500px;
    border: 1px solid black;
}

#id_eid {
    display: none;
}

table, tr, td {
    border: none;
}

table#recentEventDefinitionTable{
    border-collapse: collapse;
    width:100%;
    table-layout:fixed;
}

table#recentEventDefinitionTable td {
    border-bottom: lightgrey thin solid;
    max-width:50%;
    min-width:50%;
    width:50%;
    vertical-align: middle;
}

table#recentEventDefinitionTable tr {
    min-height: 10%;
}

table#recentEventDefinitionTable button {
    vertical-align: top;
    height:100%;
    max-width:80%;
}

table#recentEventDefinitionTable p{
    font-size: 80%;
}

table#dropdownMenuTable td{
  line-height:35px;
}

button p.close-btn{
    text-align: right;
    font-weight: bolder;
    font-size: 130% !important;
}