<!DOCTYPE html>
<html lang="en">
    <head th:replace="fragments/f :: head"></head>
    <body>
        <nav th:replace="fragments/f :: header"></nav>
        <div class="container">
            <table id="lastEvent" class="display dataTable" style="width:100%" role="grid">
                <thead>
                    <tr>
                        <th>timeStamp</th>
                        <th>toolCategory</th>
                        <th>tool</th>
                        <th>process</th>
                        <th>action</th>
                    </tr>
                </thead>
            </table>
        </div>
        <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function () {
                if (JSON.parse(localStorage.actor) == null) {
                    window.location.href = './settings';
                } else {
                    var me = JSON.parse(localStorage.getItem('actor'));
                    $("#settings-link").html(me.firstName + " " + me.lastName);
                }

                $('#lastEvent').DataTable({
                    responsive: true,
                    'ajax': {
                        'url': eventsGetLocation,
                        'headers': {'Accept': 'application/json;'},
                        //normal way but pas de souplesse 'dataSrc'
                        'dataSrc':
                                function (data) {
                                    var return_data = new Array();
                                    $.each(data.events, function (indexInArray, element) {
                                        if (typeof localStorage.actor !== 'undefined') {
                                            let actor = JSON.parse(localStorage.actor);

                                            if ((element.actor.lastName == actor.lastName) && (element.actor.firstName == actor.firstName)) {
                                                return_data.push({
                                                    'timeStamp': element.timeStamp,
                                                    'toolCategory': element.toolCategory.name,
                                                    'tool': element.tool.term.name,
                                                    'process': element.process.name,
                                                    'action': element.action.name
                                                })
                                            } else {

                                            }
                                        }
                                    });
                                    return return_data;
                                }
                    }
                    ,
                    "columns": [
                        {'data': 'timeStamp'},
                        {'data': 'toolCategory'},
                        {'data': 'tool'},
                        {'data': 'process'},
                        {'data': 'action'}
                    ],
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": true,
                            "searchable": true
                        },
                        {
                            "targets": [1],
                            "visible": true,
                            "searchable": true
                        }
                        ,
                        {
                            "targets": [2],
                            "visible": true,
                            "searchable": true
                        },
                        {
                            "targets": [3],
                            "visible": true,
                            "searchable": true
                        },
                        {
                            "targets": [4],
                            "visible": true,
                            "searchable": true
                        }
                    ]
                });
            });
        </script>
    </body>
</html>