<!DOCTYPE html>
<html>
    <head th:replace="fragments/f :: head"></head>
    <body>

        <!-- 
         private String identifier;
         private Collection<Cruise> cruises;
     
         private Collection<Person> principalInvestigators;
     
         private Collection<Project> projects;
         private String name;-->

        <nav th:replace="fragments/f :: header"></nav>
        <div class="container">
            <div>
                <form action="#" th:action="@{create-program}" th:object="${program}" method="post" class="form-group">
                    <div class="form-group">
                        <label for="identifier">Identifier code</label>
                        <input type="text" th:field="*{identifier}" id="identifier" placeholder="Identifier" required>
                        <span th:if="${#fields.hasErrors('identifier')}" th:errors="*{identifier}"></span>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" th:field="*{name}" id="name" placeholder="Name">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>

                    <button type="submit" class="btn btn-primary  btn-block">Save</button>
                </form>
            </div>
        </div>
    </body>
</html>
