<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/f}">
<head th:replace="fragments/f :: head"></head>

<body>
<nav th:replace="fragments/f :: header"></nav>
<div class="container" layout:fragment="main">
    <h1 id="h1">Actor settings</h1>
    <div class="form-group mb-3 p-3 border rounded">
        <h3>Who are you?</h3>
        <select name="cruise" id="actorField"
                class="selectpicker target form-control"
                data-live-search="true" title="Actor">
        </select>
    </div>
    <form class="form-group mb-3 p-3 border rounded">
        <h3>I'm not yet in the actor list &dash; or my details are missing/wrong!</h3>
        <p>To get yourself in the list, add your details below and create a first event. From now on you'll stay in the
            actor list.</p>
        <p>To modify your information, modify the details below and create a first event. From now on your updated personal info stays in the
            actor list.</p>
        <div class="form-group">
            <p><input name="firstName" type="text" class="form-control" id="firstNameField" placeholder=" "
                      required>
                <label class="txtBox" for="firstNameField">First name</label></p>
        </div>
        <div class="form-group">
            <p>
                <input name="lastName" type="text" class="form-control" id="lastNameField" placeholder=" " required>
                <label class="txtBox" for="lastNameField">Last name</label></p>
        </div>
        <div class="form-group">
            <p>
                <input name="email" type="email" class="form-control" id="emailField"
                       placeholder=" " required>
                <label class="txtBox" for="emailField">Email</label></p>
        </div>
        <div class="form-group">

            <select name="organisation" id="organisationField"
                    class="selectpicker target edmo form-control"
                    data-live-search="true" title="Organisation">
            </select>
        </div>
        <button id="id_Submit" type="submit" class="btn btn-primary btn-block">Save</button>
    </form>

    <script type="application/javascript">
        $(document).ready(function () {
                const actor = getCurrentActor()
                if (actor) {
                    $("#firstNameField").val(actor.firstName);
                    $("#lastNameField").val(actor.lastName);
                    $("#emailField").val(actor.email);
                    $("#settings-link").html(actor.firstName + " " + actor.lastName);
                }
                $.getJSON("json/edmo.json",
                    function (data) {
                        $.each(data.vocabulary.citRespParty, function (key, item) {
                            $("#organisationField").append($("<option />").val(item.rpOrgName.SDNIdent).text(item.rpOrgName.text));
                        });
                        $('#organisationField').selectpicker('refresh');

                    }
                ).done(function () {
                    if (actor) {
                        $("#organisationField").selectpicker('val', actor.organisation?.term?.urn);
                        $('#organisationField').selectpicker('refresh');
                    }
                });

                $('#actorField').change(function () {
                    const fullName = $(this).find("option:selected").text();
                    const me = actorLookup[fullName]
                    const organisationId = me.organisation.term.identifier;
                    setCurrentActor({ ...me, organisation: organisationId });
                    window.location.href = "event/new";
                });
                $('form').submit(function () {
                    const me = {
                        firstName: $("#firstNameField").val(),
                        lastName: $("#lastNameField").val(),
                        email: $("#emailField").val(),
                        organisation: $("#organisationField").val(),
                        phoneNumber: null,
                        faxNumber: null
                    };
                    setCurrentActor(me)
                    window.location.href = "event/new";

                    return false;
                });
            }
        );

    </script>
</div>
</body>
</html>