<!DOCTYPE html>
<html lang="en">
    <head th:replace="fragments/f :: head"></head>
    <body>
        <nav th:replace="fragments/f :: header"></nav>
        <div class="container">
            <div>
                <form class="form-group">
                    <div class="form-group">
                        <label for="firstNameField">First name</label>
                        <input type="text" class="form-control" id="firstNameField" placeholder="First name" required>
                    </div>
                    <div class="form-group">
                        <label for="lastNameField">Last name</label>
                        <input type="text" class="form-control" id="lastNameField" placeholder="Last name" required>
                    </div>
                    <div class="form-group">
                        <label for="emailField">Email</label>
                        <input type="email" class="form-control" id="emailField"
                               placeholder="Email" required>
                    </div> 
                    <div class="form-group">
                        <label for="organisationField">Organisation</label>
                        <select name="organisation" id="organisationField"
                                class="selectpicker target edmo  form-control"
                                data-live-search="true" title="Organisation">
                        </select>
                    </div>                            
                    <button id="id_Submit" type="submit" class="btn btn-primary  btn-block">Save</button>
                </form>
            </div>
        </div>
        <script>
            if (window.localStorage && typeof localStorage !== 'undefined') {
                $(document).ready(function () {
                    //$.getScript("html/js/onchangeEdmo.js");
                    $.getJSON("json/edmo.json",
                            function (data) {
                                $.each(data.vocabulary.citRespParty, function (key, item) {
                                    $("#organisationField").append($("<option />").val(item.rpOrgName.SDNIdent).text(item.rpOrgName.text));
                                });
                                $('#organisationField').selectpicker('refresh');

                            }
                    ).done(function () {
                        if (typeof localStorage.actor !== 'undefined') {
                            //$("#organisationField").val(actor.organisation);
                            //$('#organisationField').selectpicker('refresh');
                            $("#organisationField").selectpicker('val', localStorage.actor.organisation);

                        }
                    });
                    if (typeof localStorage.actor !== 'undefined') {
                        let actor = JSON.parse(localStorage.actor);
                        $("#firstNameLabel").html(actor.firstName);
                        $("#lastNameLabel").html(actor.lastName);
                        $("#programLabel").html(actor.program);
                        $("#firstNameField").val(actor.firstName);
                        $("#lastNameField").val(actor.lastName);
                        $("#emailField").val(actor.email);
                        $("#settings-link").html(actor.firstName + " " + actor.lastName);
                    }
                    $('form').submit(function () {
                        var me = {
                            firstName: $("#firstNameField").val(),
                            lastName: $("#lastNameField").val(),
                            email: $("#emailField").val(),
                            organisation: $("#organisationField").val(),
                            phoneNumber: null,
                            faxNumber: null
                        };
                        var authentication_json = JSON.stringify(me);
                        localStorage.actor = authentication_json;
                        window.location.href = "event";

                        return false;
                    });
                }
                );
            } else {
                alert("Sorry, your browser does not support local storage.");
            }
        </script>
    </body>
</html>